.cell {
    float: left;
    height: 32px;
    width: 32px;
    text-align: center;
    cursor: pointer;
    background: #c0c0c0;
    box-sizing: border-box;
    border: solid #808080;
    border-width: 0 1px 1px 0;
    position: relative;
    font-weight: bold;
    line-height: 32px;
}
.cell:before {
    content:'';
    float:left;
    padding-top:100%;
}
.cell:after {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    border: 2px outset #ececec;
    font-size: .75rem;
    text-align: center;
    pointer-events: auto;
}
.cell:focus {
    outline: none;
}

.cell:active:after {
    background: #bdbdbd;
    border: solid #999;
    border-width: 2px 0 0 2px;
}
  
.revealed:after {
    border: 2px outset #ececec;
    border: none;
}

.red {
    color: red;
}
.green {
    color: green;
}
.blue {
    color: blue;
}

.clear {
    clear: right;
}